{% comment %}
    Renders a list of product's grape sort

    Accepts:
    - product: {Object} Product Liquid object (optional)
    - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
    - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
    - price_class: {String} Adds a price class to the price element (optional)

    Usage:
    {% render 'price', product: product %}
{% endcomment %}
{% if product.metafields.meta.grape_sort %}
  <div>
    <img src="{{ 'grape_sort.png' | asset_img_url }}" />
    {% if product.metafields.meta.grape_sort %}
    <span>{{ product.metafields.meta.grape_sort | capitalize }}</span>
    {% endif %}
  </div>
{% endif %}