{{ 'component-announcement-swiper.css' | asset_url | stylesheet_tag }}

<div>
 
</div>


{% schema %}
{
    "name":"Annonceringsswiper",
    "max_blocks": 3,
    "settings": [
        {
            "type":"header",
            "content":"Titel på annoncering"
        },
        {
            "type":"text",
            "id":"announcement_title",
            "default":"Annonceringstitel",
            "label":"Annonceringstitel"
        },
        {
            "type":"header",
            "content":"Annonceringsikon"
        },
        {
            "type": "image_picker",
            "id": "announcement_icon",
            "label": "Annonceringsikon"
        },
        {
            "type":"header",
            "content":"Annonceringstekst"
        },
        {
            "type":"paragraph",
            "content":"Skriv en passende annonceringstekst."
        }
    ],
    "blocks":[
        {
            "type":"announcement",
            "name":"annoncering",
            "settings":[
                {
                    "type":"header",
                    "content":"Titel på annoncering"
                },
                {
                    "type":"text",
                    "id":"announcement_title",
                    "default":"Annonceringstitel",
                    "label":"Annonceringstitel"
                },
                {
                    "type":"header",
                    "content":"Annonceringsikon"
                },
                {
                    "type": "image_picker",
                    "id": "announcement_icon",
                    "label": "Annonceringsikon"
                },
                {
                    "type":"header",
                    "content":"Annonceringstekst"
                },
                {
                    "type":"paragraph",
                    "content":"Skriv en passende annonceringstekst."
                }
            ]
        }
    ],
    "presets": [
    {
        "name": "Annonceringsswiper",
        "blocks": [
        {
            "type": "announcement"
        }
        ]
    }
    ]
 }
{% endschema %}