.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  max-width: 220px;
  background: linear-gradient(to bottom, #B7B7A4 46%, transparent 0%);
}
@media only screen and (min-width: 750px) {
  .card {
    background: linear-gradient(to bottom, #B7B7A4 61%, transparent 0%);
  }
}
.card__heading {
  font-family: var(--font-body-family);
}
.card__heading a {
  font-size: 2rem;
}
.card__add {
  display: flex;
  justify-content: center;
  height: 55px;
}
.card__add input {
  border: 2px solid rgb(var(--color-button));
}
.card__add input[type=number] {
  width: 30px;
  text-align: center;
  margin: 0;
}
.card__add input[type=submit] {
  width: 100%;
  background-color: rgb(var(--color-button));
  color: rgb(var(--color-button-text));
  width: 100%;
  cursor: pointer;
}
.card__add input[type=submit]:hover {
  background-color: #7a7a6c;
}
.card__add input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.card__content {
  width: 100%;
}
.card__media img {
  height: 245px;
  width: auto;
  margin: 10px auto;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}
.card__media img:hover {
  transform: scale(1.025);
}
@media only screen and (min-width: 750px) {
  .card__media img {
    height: 415px;
    margin: 30px auto;
  }
}
.card__information > span {
  text-transform: uppercase;
}
.card__origin {
  display: flex;
  flex-direction: column;
  max-height: 24px;
  margin: 15px 0 30px 0;
  font-size: 1.2rem;
}
@media only screen and (min-width: 500px) {
  .card__origin {
    flex-direction: row;
    margin: 15px 0;
  }
}
.card__origin div {
  display: flex;
  flex-basis: 50%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 500px) {
  .card__origin div:first-of-type {
    margin-right: 15px;
  }
}
.card__origin div img {
  max-height: 14px;
  width: auto;
  margin-right: 3px;
}
@media only screen and (min-width: 500px) {
  .card__origin div img {
    max-height: 20px;
    margin-right: 5px;
  }
}