.cta-section {
  width: 100%;
  height: 50rem;
  overflow: hidden;
}
.cta-section img {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cta-section > div {
  display: flex;
  z-index: 2;
  align-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cta-section > div h3 {
  color: #fff;
  text-align: center;
}
.cta-section > div p {
  color: #fff;
  max-width: 60ch;
  text-align: center;
}