.announcement-swiper {
  width: 100%;
  height: 65px;
  position: absolute !important;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.announcement-swiper .swiper-slide {
  text-align: center;
  font-size: 1.8rem;
  height: auto;
  color: #fff;
  background-color: #6B705C;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.announcement-swiper .swiper-slide img {
  margin-right: 12px;
}
.announcement-swiper .swiper-button {
  display: none;
}
.announcement-swiper .swiper-button-prev, .announcement-swiper .swiper-button-next {
  display: none;
}
@media screen and (min-width: 768px) {
  .announcement-swiper .swiper-button-prev {
    transform: scale(-1);
    left: 20px;
  }
  .announcement-swiper .swiper-button-next {
    right: 20px;
  }
  .announcement-swiper .swiper-button-prev, .announcement-swiper .swiper-button-next {
    color: #fff;
  }
  .announcement-swiper .swiper-button-prev:after, .announcement-swiper .swiper-button-next:after {
    content: "";
  }
}
.announcement-swiper p {
  margin: 0;
}