{% layout none %}
<div id="app">
    <template v-if="allProducts">
        <div>
            <input v-model="searchQuery" type="text" placeholder="Portvin">
            <div v-for="product in resultQuery" :key="product.id">
                <h3>{{ product.id }}</h3>
                <img :src="product.featured_image" alt="" />
                <a :href="product.url">Køb</a>
            </div>
            <hr>
        </div>
    </template>
</div>
<script src="https://unpkg.com/vue@3"></script>

<script>
    const options = {
        name: "CollectionsApp",
        data() {
            return {
                allProducts: null,
                fetch_url: "http://127.0.0.1:9292/collections/all?view=json",
                filters: ['Fransk'],
                vendor: 'Bodegas Carballal',
                newFilteredProducts: [],
                tags: [],
                type: "",
                result: {},
                searchQuery: null,
            }
        },
        methods: {
            async getProducts() {
                await fetch(this.fetch_url)
                .then(res => res.json())
                .then(data => {
                    this.allProducts = data.products
                    this.tags = data.tags

                })
            },
            filteredArr(type) {
                const filteredType = this.allProducts.filter(products => products.type === type)
                this.newFilteredProducts = filteredType;
                console.log(filteredType);
                return filteredType
            }

        },
        created() {
            this.getProducts();
        },
        computed: {
            resultQuery() {
                if (this.searchQuery) {
                    return this.filteredArr(this.searchQuery)
                } else {
                  return null
                }
            },
        }
    }
    const CollectionsApp = Vue.createApp(options).mount('#app');
</script>


