{% layout none %}
<div id="app">
    <template>
        <pre>{{ allProducts }}</pre>
    </template>
</div>
<script src="https://unpkg.com/vue@3"></script>

<script>
    const options = {
        name: "CollectionsApp",
        data() {
            return {
                collection: null,
                dataReady: false,
                allProducts: null,
                query: `
                query {
                    products(first: 250) {
                        edges {
                        node {
                            id
                            title
                            tags
                        }
                        }
                    }
                `
            }
        },
        methods: {
            async getCollection() {
                await fetch('https://www.etvinimport.dk/collections/{{collection.handle}}?view=json')
                .then(response => response.json())
                .then(data => this.collection = data)
                .then(data => this.dataReady = true)
            },
            async getAllProducts(query) {
                await fetch("https://et-vinimport.myshopify.com/api/2022-04/graphql.json", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "Accept": "application/json",
                    },
                    body: JSON.stringify({
                        query
                    })
                })
                .then(response => {
                    return response.json()
                })
                .then(data => {
                    data = this.allProducts
                })

            }
        },
        mounted() {
            this.getCollection();
            this.getAllProducts();
        }
    }
    const CollectionsApp = Vue.createApp(options).mount('#app');
</script>


