$tablet: 768px;
$desktop: 1000px;

$screen-tablet: "(min-width: #{$tablet})";
$desktop-tablet: "(min-width: #{$desktop})";

$screen-tablet-max: "(max-width: #{$tablet})";
$desktop-tablet-max: "(max-width: #{$desktop})";
