@use 'variables';
.card {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom, #B7B7A4 58%, transparent 0%);

    &__heading {
        font-family: var(--font-body-family);
        
        a {
            font-size: 2rem;
        }
    }

    &__add {
        display: flex;
        justify-content: center;
        height: 55px;

        input {
            border: 2px solid #B7B7A4;
        }
        input[type=number] {
            width: 30px;
            text-align: center;
            margin: 0;
        }
        input[type=submit] {
            width: 100%;
            color: white;
            background-color: #B7B7A4;
            width: 100%;
        }
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none; 
        }
        &.btn {
            &:hover {
                background-color: hsl(60, 2%, 12%);
            }
        }
    }
    &__content {
        width: 100%;
    }
    &__media {
        img {
            margin: 30px auto;
        }
    }

    &__information {
        > span {
            text-transform: uppercase;
        }
    }
    &__origin {
        display: flex;
        max-height: 24px;
        margin: 15px 0;
        font-size: 1.2rem;

        div {
            display: flex;
            flex-basis: 50%;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &:first-of-type {
                margin-right: 15px;
            }

            img {
                max-height: 20px;
                width: auto;
                margin-right: 5px;
            }
        }
    }
}