section {
    &.categories-section {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
        max-height: 60vh;

        .cat-1 { grid-area: 1 / 1 / 2 / 2; }
        .cat-2 { grid-area: 2 / 1 / 3 / 2; }
        .cat-3 { grid-area: 3 / 1 / 4 / 2; }
        .cat-4 { grid-area: 4 / 1 / 5 / 2; }

        @media screen and (min-width: 768px) {
            padding-left: 0;
            padding-right: 0;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(4, 1fr);

            .cat-1 { grid-area: 1 / 1 / 3 / 3; }
            .cat-2 { grid-area: 1 / 3 / 3 / 5; }
            .cat-3 { grid-area: 1 / 5 / 5 / 7; }
            .cat-4 { grid-area: 3 / 1 / 5 / 5; }
        }

        > div {
            position: relative;
            overflow: hidden;
            color: #ffffff;
            height: 300px; 

            @media screen and (min-width: 768px) {
                height: 100%;
            }

            h3 {
                color: #ffffff;
                font-weight: 600;
                margin: 0;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            > div {
                position: absolute;
                bottom: 20px;
                left: 20px;
            }
        }
    }
}